django == 4.2
Pillow == 9.5.0
pyodbc == 4.0.39
django-fernet-fields == 0.6
PyMySQL == 1.0.2
xhtml2pdf == 0.2.5
Jinja2 == 2.11.3
qrcode == 6.1
django-betterforms == 1.2
stripe == 2.63.0
asgiref == 3.6
sqlparse == 0.4.1
